*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Roboto Slab', serif;
}

body{
    background: rgb(234, 253, 248);
}

@import "../components/header/index";
@import "../components/layout/latest-news/index";
@import "../components/layout/news-title/index";
@import "../components/layout/covid-section/index";
@import "../components/layout/politics-section/index";
@import "../components/layout/society-section/index";
@import "../components/layout/culture-section/index";
@import "../components/layout/show-section/index";
@import "../components/layout/sports-section/index";
@import "../components/layout/police-section/index";
@import "../components/layout/health-section/index";
@import "../components/footer/index";
@import "../components/layout/styles";