* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Roboto Slab", serif;
}

body {
    background: rgb(234, 253, 248);
}


@import "./components/header/styles";
@import "./components/footer/styles";